# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# Configuración de usuario y entorno
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos de metadatos generados por Unity
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Archivos de informes de fallos
sysinfo.txt

# Builds
*.apk
*.unitypackage
*.aab
*.app

# Archivos generados por Crashlytics
crashlytics-build.properties
